.container {
  padding: 50px;
  background-color: #5d7062;
}

.body {
  background-color: #5d7062;
}

.results {
  display: none;
  align-items: center;
}

.btn {
  margin-top: 25px;
  background-color: black;
  color: white;

}

.autoSelect {
  display: none; 
}

#ruby {
  display: none;
}

#go {
  display: none;

}

#java {
  display: none;
}

#bianary {
  display: none;
}