.container {
  padding: 50px;
  background-color: #5d7062;
}

.body {
  background-color: #5d7062;
}

.results {
  display: none;
}

#ruby {
  display: none;
}

#go {
  display: none;

}

#java {
  display: none;
}